@import "https://fonts.cdnfonts.com/css/wondrous-2";
@import "https://fonts.cdnfonts.com/css/jelly-2";
@import "tailwindcss";
.font{
font-family: 'Wondrous', sans-serif;
}
.font2{
font-family: 'Jelly', sans-serif;

}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
